@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mailThreadList:hover {
  box-shadow: 1px 1px 1px #c1c1c1;
  /* border-left: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf; */
  /* border-top: 1px solid #bfbfbf; */
}

*::-webkit-scrollbar {
  display: none;
}